<ion-header>
  <ion-toolbar>
    <ion-icon routerLink="/home" name="arrow-back-outline" slot="start" color="dark"></ion-icon>
    <ion-title class="ion-text-center">Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-card>
      <ion-card-header>
        <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/7xP0NhjE6AOJ1RTx5vh3Jw1aNCe.jpg" alt="">
        <ion-card-subtitle>Ação, Drama, Ficção Científica - 1h 39m</ion-card-subtitle>
        <ion-card-title>Samaritano</ion-card-title>
      </ion-card-header>

      <ion-card-content class="ion-text-justify">
        25 anos após uma batalha insana, todos acreditavam que o super-herói Samaritano estava morto. Mas agora um garotinho começa uma investigação para procurar o paradeiro do super-herói e a sua principal pista é Joe, um trabalhador que parece comum, mas esconde sua verdadeira identidade heróica.
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
