<ion-header>
  <ion-toolbar>
    <ion-icon routerLink="/home" name="arrow-back-outline" slot="start" color="dark"></ion-icon>
    <ion-title class="ion-text-center">Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-card>
      <ion-card-header>
        <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/C7MZwRTjvEy7gkWcLJeBGZFE1w.jpg" alt="">
        <ion-card-subtitle>Ação, Aventura, Ficção Científica - 2h 10m</ion-card-subtitle>
        <ion-card-title>Homem de Ferro 3</ion-card-title>
      </ion-card-header>

      <ion-card-content class="ion-text-justify">
        Depois de um inimigo reduzir o mundo de Tony Stark a destroços, o Homem de Ferro precisa aprender a confiar em seus instintos para proteger aqueles que ama, especialmente sua namorada, e lutar contra seu maior medo: o fracasso.
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
