<ion-header>
  <ion-toolbar>
    <ion-icon routerLink="/home" name="arrow-back-outline" slot="start" color="dark"></ion-icon>
    <ion-title class="ion-text-center">Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-card>
      <ion-card-header>
        <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/w6Jz1AgjscqBuS8qXBd0wUHz5zC.jpg" alt="">
        <ion-card-subtitle>Ação, Aventura, Ficção Científica - 2h 27m</ion-card-subtitle>
        <ion-card-title>Jurassic World: O Domínio</ion-card-title>
      </ion-card-header>

      <ion-card-content class="ion-text-justify">
        Quatro anos após a destruição da Ilha Nublar, os dinossauros agora vivem – e caçam – ao lado de humanos em todo o mundo. Esse frágil equilíbrio remodelará o futuro e determinará, de uma vez por todas, se os seres humanos continuarão sendo os principais predadores em um planeta que agora compartilham com as criaturas mais temíveis da história.
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
