<ion-header>
  <ion-toolbar>
    <ion-icon routerLink="/home" name="arrow-back-outline" slot="start" color="dark"></ion-icon>
    <ion-title class="ion-text-center">Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-card>
      <ion-card-header>
        <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2/crnUUp1cyqwR9NeGhdt0mMQNN0Y.jpg" alt="">
        <ion-card-subtitle>Aventura, Drama, Terror - 1h 33m</ion-card-subtitle>
        <ion-card-title>A Fera</ion-card-title>
      </ion-card-header>

      <ion-card-content class="ion-text-justify">
        O Dr. Nate Samuels é um homem que perdeu a mulher recentemente, e decide fazer uma viagem com as filhas para uma reserva na África do Sul, onde conheceu a esposa. Mas o que começa como uma viagem tranquila, acaba se tornando um pesadelo quando eles passam a ser perseguidos por um leão.
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
